<ul id="menu">
    <li>
        <a [routerLink]="['/']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/numerodoble/7']">Doble 7</a>
    </li>
    <li>
        <a [routerLink]="['/numerodoble/14']">Doble 14</a>
    </li>
    <li>
        <a [routerLink]="['/numerodoble']">Doble sin parametro</a>
    </li>
    <li>
        <a [routerLink]="['/television']">Television</a>
    </li>
    <li>
        <a [routerLink]="['/cine']">Cine</a>
    </li>
    <li>
        <a [routerLink]="['/musica']">Musica</a>
    </li>
    
</ul>